---
import Navbar from "../components/Navbar.astro";
import BasesLayouts from "../layouts/BasesLayouts.astro";

const slogan ="";
const title = `HeadCalm - ${slogan}`;
---

<BasesLayouts title={title}>
<div class="wrapper">
	<Navbar/>

</div>
</BasesLayouts>